.section {
  padding: 19px 27px 38px;
}

.title {
  color: var(--foreground);
  font-size: 16px;
  font-weight: 450;
  line-height: 1.4;
  margin-bottom: 29px;
}

.item:not(:last-child) {
  display: none;
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 0;
    width: 33vw;
  }

  .title {
    padding: 9.5px 17px;
    color: var(--steel-blue);
    font-size: 18px;
    border-bottom: 1px solid var(--dark-navy);
    margin: 0;
  }

  .item:not(:last-child) {
    display: block;
  }

  .list {
    padding: 15px 17px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 478px;
    overflow-y: auto;
  }

  .list::-webkit-scrollbar {
    width: 3px;
  }

  .list::-webkit-scrollbar-thumb {
    background: var(--steel-blue);
    border-radius: 4px;
  }

  .list::-webkit-scrollbar-track {
    background: transparent;
  }
}

@media screen and (min-width: 1440px) {
  .list {
    max-height: calc(100vh - 96px - 52.4px - 53px - 45.2px);
  }
}
