.section {
  padding: 19px 27px 38px;
}

.title {
  color: #fff;
  font-size: 16px;
  font-weight: 450;
  line-height: 1.4;
  margin-bottom: 29px;
}

.item:not(:last-child) {
  display: none;
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 0;
    width: 33vw;
  }

  .title {
    padding: 9.5px 17px;
    color: #607b96;
    font-size: 18px;
    border-bottom: 1px solid #1e2d3d;
    margin: 0;
  }

  .item:not(:last-child) {
    display: block;
  }

  .list {
    padding: 15px 17px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 647px;
    overflow-y: auto;
  }

  .list::-webkit-scrollbar {
    width: 3px;
  }

  .list::-webkit-scrollbar-thumb {
    background: #607b96;
    border-radius: 4px;
  }

  .list::-webkit-scrollbar-track {
    background: transparent;
  }
}
