.container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.error_message {
  color: #fff;
  font-size: clamp(12px, (16/375) * 100vw, 24px);
  font-weight: 450;
  line-height: 1.4;
}
