.img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 10.5px;
}

.container {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
}

.info_container {
  display: flex;
  flex-direction: column;
}

.link {
  color: #5565e8;
  font-size: 16px;
  font-weight: 700;
}

.time_ago {
  color: var(--steel-blue);
  font-size: 12px;
  font-weight: 450;
}

.btn {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--steel-blue);
  font-size: 14px;
  font-weight: 450;
  margin-left: auto;
  transition: all 250ms ease-in-out;
  &:hover,
  &:focus-visible {
    color: var(--foreground);
  }
}

.icon {
  transition: all 250ms ease-in-out;
  fill: var(--steel-blue);
}

.btn:hover .icon,
.btn:focus-visible .icon {
  fill: var(--foreground);
}

.snippet_container {
  border-radius: 15px;
  border: 1px solid var(--dark-navy);
  background: var(--dark-teal);
  padding: 24px;
  color: var(--steel-blue);
  font-size: 14px;
  font-weight: 450;
  line-height: 1.7;
  white-space: nowrap;
  overflow-x: auto;
}

.snippet_container::-webkit-scrollbar {
  height: 4px;
}

.snippet_container::-webkit-scrollbar-thumb {
  background: var(--steel-blue);
  border-radius: 4px;
}

.snippet_container::-webkit-scrollbar-track {
  background: transparent;
  margin: 0 8px;
}

.details_modal {
  padding: 0;
  margin-top: 0;
  border-top: 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: flex-start;
  gap: 14px;
  overflow: hidden;
  max-height: 0;
  transition: all 350ms ease-in-out;
}

.details_message {
  color: var(--steel-blue);
  font-size: 14px;
  font-weight: 450;
  line-height: 1.5;
}

.details_btn {
  padding: 4px;
  margin-top: 3px;
}

.details_icon {
  fill: var(--steel-blue);
  transition: all 250ms ease-in-out;
  &:hover,
  &:focus-visible {
    fill: var(--foreground);
  }
}

.open {
  padding: 17px 0;
  margin-top: 18px;
  border-top: 1px solid var(--dark-navy);
  max-height: 400px;
  opacity: 1;
  visibility: visible;
}

.btn_star {
  display: none;
}

@media screen and (min-width: 1440px) {
  .btn_star {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--steel-blue);
    font-size: 14px;
    font-weight: 450;
    margin-left: 18px;
    transition: all 250ms ease-in-out;
    &:hover,
    &:focus-visible {
      color: var(--foreground);
    }
  }

  .icon_star {
    fill: transparent;
    stroke: var(--steel-blue);
    transition: all 250ms ease-in-out;
  }

  .btn_star:hover .icon_star,
  .btn_star:focus-visible .icon_star {
    fill: var(--steel-blue);
  }

  .liked {
    fill: var(--steel-blue);
  }
}
