.footer {
  display: flex;
  border-top: 1px solid #1e2d3d;
  margin-top: auto;
}

.p {
  padding: 13px 18px 15px;
  text-align: start;
  color: #607b96;
  font-size: 16px;
  font-weight: 450;
  width: 46.5vw;
}

.soc_list {
  display: flex;
  width: 50vw;
}

.soc_item {
  border-left: 1px solid #1e2d3d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.soc_icon {
  transition: all 250ms ease-in-out;
  fill: #273849;
}

.soc_item:hover .soc_icon,
.soc_item:focus .soc_icon {
  fill: #607b96;
}

.foooter_username {
  display: none;
}

@media screen and (min-width: 765px) {
  .p {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 148px;
    height: 50px;
    border-right: 1px solid #1e2d3d;
  }

  .soc_list {
    width: 100%;
  }

  .soc_item:not(:last-child) {
    border-left: none;
    border-right: 1px solid #1e2d3d;
    width: 8vw;
  }

  .soc_item:last-child {
    display: flex;
    margin-left: auto;
    width: 241px;
  }

  .soc_item:last-child .soc_icon {
    fill: #607b96;
  }

  .soc_link {
    display: flex;
    gap: 5px;
  }

  .foooter_username {
    display: inline;
    color: #607b96;
    font-weight: 450;
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .soc_item:last-child {
    width: 281px;
  }

  .soc_item:not(:last-child) {
    width: 5.6vw;
  }
}
