.header {
  display: flex;
  align-items: center;
  padding: 18px;
  border-bottom: 1px solid #1e2d3d;
}

.logo {
  color: #607b96;
  font-size: 16px;
  font-weight: 450;
}

.btn {
  display: flex;
  margin-left: auto;
}

.svg {
  fill: #607b96;
}

.menu {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 0;
  }

  .logo {
    padding: 17px;
    border-right: 1px solid #1e2d3d;
    width: 263px;
  }

  .btn {
    display: none;
  }

  .menu {
    display: flex;
    width: 74.2vw;
  }

  .menu_item:not(:last-child) {
    position: relative;
    border-right: 1px solid #1e2d3d;
  }

  .menu_item:last-child {
    display: flex;
    position: relative;
    margin-left: auto;
    border-left: 1px solid #1e2d3d;
  }

  .menu_link {
    color: #607b96;
    font-size: 16px;
    font-weight: 450;
    padding: 17px 32px;

    transition: all 350ms ease-in-out;
    &:hover,
    &:focus,
    &:active {
      color: #fff;
    }
  }

  .menu_link.active::after {
    display: flex;
    top: 56px;
    left: 0;
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fea55f;
    border: none;
  }
}
