.section {
  padding: 14.5px 0 19px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 11px;
  background-color: var(--dark-navy);
  width: 100%;
  padding: 5px 27.5px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
}

.icon {
  transition: transform 850ms ease-in-out;
  fill: var(--foreground);
}

.list {
  overflow: hidden;
  max-height: 0;
  transition: all 850ms ease-in-out;
  display: flex;
  flex-direction: column;
  margin-left: 27.5px;
  gap: 16px;
}

.active {
  max-height: 400px;
  margin-top: 21px;
}

.rotate {
  transform: rotate(90deg);
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 0;
    border-right: 1px solid var(--dark-navy);
    width: 100%;
    max-width: 263px;
  }

  .btn {
    margin-bottom: 22px;
    padding: 13px 22px;
    border-bottom: 1px solid var(--dark-navy);
    background-color: transparent;
  }
}
