.container {
  border-radius: 15px;
  border: 1px solid #1e2d3d;
  background: #011221;
  padding: 20px;
  width: 580px;
  color: #607b96;
  font-size: 14px;
  font-weight: 450;
  line-height: 1.7;
}

.red {
  color: #e99287;
}

.rose {
  color: #c98bdf;
}

.violet {
  color: #5565e8;
}

.green {
  color: #43d9ad;
}
