.container {
  border-radius: 8px;
  border: 1px solid var(--dark-navy);
  background: var(--ocean-depth);
  position: relative;
  width: 100%;
}

.title {
  padding: 21px 27px 14.5px;
  font-size: 14px;
  font-weight: 450;
  line-height: 1.4;
}

@media screen and (min-width: 1024px) {
  .title {
    display: none;
  }

  .main {
    display: flex;
  }
}
