.container {
  border-radius: 8px;
  border: 1px solid var(--dark-navy);
  background: var(--ocean-depth);
  position: relative;
  width: 100%;
}

.title {
  padding: 21px 27px 14.5px;
  font-size: 14px;
  font-weight: 450;
  line-height: 1.4;
}

.section {
  padding: 14.5px 0 21px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

@media screen and (min-width: 1024px) {
  .title {
    display: none;
  }
  .section {
    padding: 0;
    border-right: 1px solid var(--dark-navy);
    width: 100%;
    max-width: 263px;
    gap: 0px;
  }
  .main {
    display: flex;
  }
}
