.li {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  align-items: center;
  gap: 11px;
  background-color: var(--dark-navy);
  width: 100%;
  padding: 5px 27.5px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
}

.icon {
  transition: transform 850ms ease-in-out;
  fill: var(--foreground);
}

.container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 850ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.active {
  max-height: 400px;
}

.rotate {
  transform: rotate(90deg);
}

@media screen and (min-width: 1024px) {
  .btn {
    background-color: transparent;
    border-bottom: 1px solid var(--dark-navy);
    padding: 13px 17.5px;
  }
}
