.li {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  align-items: center;
  gap: 11px;
  background-color: #1e2d3d;
  width: 100%;
  padding: 5px 27.5px;
  font-family: inherit;
  font-size: clamp(12px, (16 / 375) * 100vw, 36px);
  font-weight: 300;
}

.icon {
  transition: transform 350ms ease-in-out;
  fill: #ffffff;
}

.container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 650ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.active {
  max-height: 400px;
}

.rotate {
  transform: rotate(90deg);
}

@media screen and (min-width: 765px) {
  .btn {
    font-size: clamp(12px, (16 / 765) * 100vw, 36px);
  }
}
