.section {
  padding: 19px 27px;
}

.title {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 17px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title_filters {
  color: var(--steel-blue);
  font-size: 16px;
  font-weight: 450;
  line-height: 1.4;
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 0;
  }

  .title_section {
    display: none;
  }

  .title {
    margin-bottom: 0;
    padding: 10px 22px;
    border-bottom: 1px solid var(--dark-navy);
    height: 45px;
  }

  .error {
    margin: 10px 22px;
  }

  .list {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    max-height: calc(100vh - 72px - 52.4px - 50px - 53px);
    overflow-y: auto;
  }

  .list::-webkit-scrollbar {
    width: 3px;
  }

  .list::-webkit-scrollbar-thumb {
    background: var(--steel-blue);
    border-radius: 4px;
  }

  .list::-webkit-scrollbar-track {
    background: transparent;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 0;
    width: 100%;
  }

  .list {
    gap: 40px;
    max-height: calc(100vh - 94px - 52.4px - 50px - 53px);
  }
}
