@tailwind base;
@tailwind components;
@tailwind utilities;
@import "normalize.css";

:root {
  --background: #010c15;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  padding: calc((15 / 375) * 100vw);
  font-size: 16px;
  font-weight: 450;
}

@media screen and (min-width: 765px) {
  body {
    padding: calc((15 / 765) * 100vw);
  }
}

@media screen and (min-width: 1440px) {
  body {
    padding: calc((52 / 1440) * 100vw);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
