@tailwind base;
@tailwind components;
@tailwind utilities;
@import "normalize.css";

:root {
  --background: #010c15;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  padding: 15px;
  font-size: 16px;
  font-weight: 450;
}
