.container {
  border-radius: 8px;
  border: 1px solid var(--dark-navy);
  background: var(--ocean-depth);
  background-image: url("/images/home-blur-mob.png");
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
}

.footer_container {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 31px - 55.2px);
}

.slider_container {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    background-position: top;
  }

  .main {
    height: calc(100vh - 56px - 55.2px);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    background-image: url("/images/home-blur-pc.png");
    background-position: 120% 20%;
    background-size: 55vw;
    background-repeat: no-repeat;
  }

  .main {
    flex-direction: row;
    height: calc(100vh - 72px - 52.4px - 53px);
  }

  .slider_container {
    display: flex;
    margin-right: 20px;
  }

  .info_container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer_container {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    height: calc(100vh - 96px - 52.4px - 53px);
  }

  .info_container {
    max-width: 660px;
  }
}
