.section {
  display: flex;
  flex-direction: column;
  padding: 19px 27px 19px 21px;
  gap: 17px;
}

.path {
  font-size: 16px;
  font-weight: 450;
  line-height: 1.4;
}

.path_span {
  color: var(--steel-blue);
}

.text {
  color: var(--steel-blue);
  font-size: 16px;
  font-weight: 450;
  line-height: 1.5;
}

@media screen and (min-width: 1024px) {
  .path {
    border-bottom: 1px solid var(--dark-navy);
    padding: 11px 17px;
  }

  .text {
    padding: 10px 17px;
    max-height: 478px;
    overflow-y: auto;
  }

  .section {
    min-width: 300px;
    width: 100%;
    padding: 0;
    border-right: 1px solid var(--dark-navy);
    gap: 0;
  }

  .text::-webkit-scrollbar {
    width: 3px;
  }

  .text::-webkit-scrollbar-thumb {
    background: var(--steel-blue);
    border-radius: 4px;
  }

  .text::-webkit-scrollbar-track {
    background: transparent;
  }
}

@media screen and (min-width: 1440px) {
  .text {
    max-height: calc(100vh - 96px - 52.4px - 53px - 45.2px);
  }
}
