.section {
  display: flex;
  flex-direction: column;
  padding: 19px 27px 19px 21px;
  gap: 17px;
}

.path {
  font-size: 16px;
  font-weight: 450;
  line-height: 1.4;
}

.path_span {
  color: #607b96;
}

.text {
  color: #607b96;
  font-size: 16px;
  font-weight: 450;
  line-height: 1.5;
}

@media screen and (min-width: 1024px) {
  .path {
    border-bottom: 1px solid #1e2d3d;
    padding: 11px 17px;
  }

  .text {
    padding: 10px 17px;
    max-height: 647px;
    overflow-y: auto;
  }

  .section {
    min-width: 400px;
    padding: 0;
    border-right: 1px solid #1e2d3d;
    gap: 0;
  }

  .text::-webkit-scrollbar {
    width: 3px;
  }

  .text::-webkit-scrollbar-thumb {
    background: #607b96;
    border-radius: 4px;
  }

  .text::-webkit-scrollbar-track {
    background: transparent;
  }
}
