.section {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.code {
  color: var(--steel-blue);
  font-family: "Fira Code";
  font-size: 14px;
  font-weight: 450;
  line-height: 1.5;
  overflow-x: scroll;
  max-width: 32vw;
}

.code::-webkit-scrollbar {
  height: 2px;
}

.code::-webkit-scrollbar-thumb {
  background: var(--steel-blue);
  border-radius: 4px;
}

.code::-webkit-scrollbar-track {
  background: transparent;
}

.rose {
  color: var(--lavender-purple);
}

.violet {
  color: #5565e8;
}

.orange {
  color: var(--sunset-orange);
}

@media screen and (min-width: 1024px) {
  .section {
    display: flex;
  }
}

@media screen and (min-width: 1300px) {
  .code {
    max-width: 35vw;
  }
}

@media screen and (min-width: 1440px) {
  .code {
    font-size: 14px;
  }
}
