.link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  color: #607b96;
  transition: all 250ms ease-in-out;
  &:hover {
    color: #ffffff;
  }
}

.icon {
  fill: #81a1c1;
}
