.section {
  padding: 97px 27px 85px;
}

.comment {
  color: var(--steel-blue);
  font-size: 14px;
  font-weight: 450;
  line-height: 1.4;
  margin-bottom: 16px;
}

.link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  word-break: break-all;
}

.const {
  color: var(--indigo-blue);
}

.name {
  color: var(--mint-green);
}

.githubLink {
  color: var(--coral-pink);
}

@media screen and (min-width: 768px) {
  .section {
    padding: 85px 27px;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 20px 30px 0 100px;
  }

  .comment {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
  }

  .link {
    font-size: 16px;
  }
}
