.btn {
  display: flex;
  align-items: center;
  color: #607b96;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  transition: all 250ms ease-in-out;
}

.icon_arrow {
  transition: transform 350ms ease-in-out;
  fill: #607b96;
  margin-right: 13px;
}

.icon {
  margin-right: 9px;
}

.red {
  fill: #e99287;
}

.violet {
  fill: #3a49a4;
}

.green {
  fill: #43d9ad;
}

.container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 650ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.active {
  max-height: 200px;
  color: #ffffff;
}

.rotate {
  transform: rotate(90deg);
}
